<div class="container">
  <page-title></page-title>
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <div class = "centerColumn">
          <fav-photos></fav-photos>
        </div>
      </div>
  
      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
    <hr>
    <fav-links></fav-links>
    <img src = "https://media0.giphy.com/media/LmNwrBhejkK9EFP504/200.gif" alt="basically me"> 
  </div>
  
  